---
openapi: 3.0.3
info:
  title: '3D BAG plus API'
  description: |-
  
    The [3D BAG](https://3dbag.nl) is an up-to-date data set containing 3D building models of the Netherlands. 
    The 3D BAG is open data. It contains 3D models at multiple levels of detail, 
    which are generated by combining two open data sets: 
    the building data from the BAG and the height data from the AHN. 
    The 3D BAG is updated regularly, keeping it up-to-date with the latest openly 
    available building stock and elevation information.
    
    3D BAG plus is an extended version of the 3D BAG data set.
    It contains additional information that is either derived from the 3D BAG,
    or integrated from other data sources.
    The 3D BAG plus is created and maintained by 3DGI.
    
    Copyright (c) 2022 3DGI.
  version: 0.1.0
  contact:
    name: "3DGI"
    email: info@3dbag.nl
    url: https://docs.3dbag.nl/en/contact/ #TODO
  license:
    name: 3DGI License
    url: https://3dgi.nl/legal #TODO
  x-logo:
    url: https://3dgi.nl/img/Logo-02.png
servers:
  - url: https://data.3dbag.nl/api/3dbagplus
    description: 3D BAG plus production server
tags:
  - name: Capabilities
    description: |-
      essential characteristics of this API
  - name: Data
    description: |-
      access to data (features)

paths:
  '/':
    get:
      tags:
        - Capabilities
      summary: landing page
      description: |-
        The landing page provides links to the API definition, the conformance
        statements and to the feature collections in this dataset.
      operationId: getLandingPage
      responses:
        '200':
          $ref: '#/components/responses/LandingPage'
        '500':
          $ref: '#/components/responses/ServerError'
  '/conformance':
    get:
      tags:
        - Capabilities
      summary: information about specifications that this API conforms to
      description: |-
        A list of all conformance classes specified in a standard that the
        server conforms to.
      operationId: getConformanceDeclaration
      responses:
        '200':
          $ref: '#/components/responses/ConformanceDeclaration'
        '500':
          $ref: '#/components/responses/ServerError'
  '/collections':
    get:
      tags:
        - Capabilities
      summary: the feature collections in the data set
      operationId: getCollections
      responses:
        '200':
          $ref: '#/components/responses/Collections'
        '500':
          $ref: '#/components/responses/ServerError'
  '/collections/pand':
    get:
      tags:
        - Capabilities
      summary: 3D building models based on the 'pand' layer of the BAG data set
      operationId: describeCollection
      responses:
        '200':
          $ref: '#/components/responses/Collection'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'


components:
  responses:
    LandingPage:
      description: |-
        The landing page provides links to the API definition 
        (link relations `service-desc` and `service-doc`), 
        the Conformance declaration (path `/conformance`, 
        link relation `conformance`), and the Feature 
        Collections (path `/collections`, link relation 
        `data`).
      content:
        application/json:
          schema:
            $ref: schemas/landingPage.yaml
          example:
            title: 3D BAG plus
            description: TODO data set description.
            links:
              - href: https://data.3dbag.nl/api/3dbagplus
                rel: self
                type: application/json
                title: this document
              - href: https://data.3dbag.nl/api/3dbagplus/api
                rel: service-desc
                type: application/vnd.oai.openapi+json;version=3.0
                title: the API definition
              - href: https://data.3dbag.nl/api/3dbagplus/api.html
                rel: service-doc
                type: text/html
                title: the API documentation
              - href: https://data.3dbag.nl/api/3dbagplus/conformance
                rel: conformance
                type: application/json
                title: OGC API conformance classes implemented by this server
              - href: https://data.3dbag.nl/api/3dbagplus/collections
                rel: data
                type: application/json
                title: Information about the feature collections
    ServerError:
      description: |-
        A server error occurred.
      content:
        application/json:
          schema:
            $ref: schemas/exception.yaml
    NotFound:
      description: |-
        The requested URI was not found.
    ConformanceDeclaration:
      description: |-
        The URIs of all conformance classes supported by the server.
      content:
        application/json:
          schema:
            $ref: schemas/confClasses.yaml
          example:
            conformsTo:
              - 'http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core'
              - 'http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30'
              - 'https://www.cityjson.org/specs/1.1.1'
    Collections:
      description: |-
        The feature collections shared by this API.
  
        The dataset is organized as one or more feature collections. This resource
        provides information about and access to the collections.
      content:
        application/json:
          schema:
            $ref: schemas/collections.yaml
          example:
            links:
              - href: https://data.3dbag.nl/api/3dbagplus/collections.json
                rel: self
                type: application/json
                title: this document
              # TODO: according to the specs, providing 'alternate' links is required (eg. text/html). But I don't want to support html from the beginning, because it is more work. But I'm not sure if the schema is still valid like this.
              - href: https://data.3dbag.nl/postgres/3dbag_v210908_fd2cee53.zip #TODO: bulk download link
                rel: enclosure
                type: application/...
                title: Bulk download (PostgreSQL dump)
                length: ...
            collections:
              - id: pand
                title: 3D pand # TODO: give title
                description: the 3d bag pand layer # TODO: describe
                extent:
                  spatial:
                    bbox:
                      - - 10000
                        - 306250
                        - 287760
                        - 623690
                    crs: https://www.opengis.net/def/crs/EPSG/0/7415
                  temporal:
                    interval:
                      - null
                      - '2019-12-31T24:59:59Z' # TODO: '2019' is the max bouwjaar in the BAG. I just added the rest, because a timestamp is required. Not sure if we should reference the BAG dates or the AHN dates.
                itemType: feature
                crs:
                  - https://www.opengis.net/def/crs/EPSG/0/7415
                links:
                  - href: https://data.3dbag.nl/api/3dbagplus/collections/pand
                    rel: items
                    type: application/city+json
                    title: Pand
                  # TODO: add license
                  - href: https://creativecommons.org/licenses/by/4.0/
                    rel: license
                    type: text/html
                    title: CC BY 4.0
                  - href: https://creativecommons.org/licenses/by/4.0/rdf
                    rel: license
                    type: application/rdf+xml
                    title: CC BY 4.0
              - id: boom
                title: Trees
                description: Just some placeholder example to show how we could extend the API if new feature collections come in the future.
                links:
                  - href: https://data.3dbag.nl/api/3dbagplus/collections/boom
                    rel: items
                    type: application/city+json
                    title: Boom
    Collection:
      description: |-
        Information about the feature collection with id `collectionId`.
      content:
        application/json:
          schema:
            $ref: schemas/collection.yaml
          example:
            id: pand
            title: 3D pand # TODO: give title
            description: the 3d bag pand layer # TODO: describe
            extent:
              spatial:
                bbox:
                  - - 10000
                    - 306250
                    - 287760
                    - 623690
                crs: https://www.opengis.net/def/crs/EPSG/0/7415
              temporal:
                interval:
                  - null
                  - '2019-12-31T24:59:59Z' # TODO: '2019' is the max bouwjaar in the BAG. I just added the rest, because a timestamp is required. Not sure if we should reference the BAG dates or the AHN dates.
            itemType: feature
            crs:
              - https://www.opengis.net/def/crs/EPSG/0/7415
            links:
              - href: https://data.3dbag.nl/api/3dbagplus/collections/pand
                rel: items
                type: application/city+json
                title: Pand
              # TODO: add license
              - href: https://creativecommons.org/licenses/by/4.0/
                rel: license
                type: text/html
                title: CC BY 4.0
              - href: https://creativecommons.org/licenses/by/4.0/rdf
                rel: license
                type: application/rdf+xml
                title: CC BY 4.0