---
openapi: 3.0.3
info:
  title: '3D BAG plus API'
  description: |-
  
    The [3D BAG](https://3dbag.nl) is an up-to-date data set containing 3D building models of the Netherlands. 
    The 3D BAG is open data. It contains 3D models at multiple levels of detail, 
    which are generated by combining two open data sets: 
    the building data from the BAG and the height data from the AHN. 
    The 3D BAG is updated regularly, keeping it up-to-date with the latest openly 
    available building stock and elevation information.
    
    3D BAG plus is an extended version of the 3D BAG data set.
    It contains additional information that is either derived from the 3D BAG,
    or integrated from other data sources.
    The 3D BAG plus is created and maintained by 3DGI.
    
    Copyright (c) 2022 3DGI.
  version: 0.1.0
  contact:
    name: "3DGI"
    email: info@3dbag.nl
    url: https://docs.3dbag.nl/en/contact/ #TODO
  license:
    name: 3DGI License
    url: https://3dgi.nl/legal #TODO
  x-logo:
    url: https://3dgi.nl/img/Logo-02.png
servers:
  - url: https://data.3dbag.nl/api/3dbagplus
    description: 3D BAG plus production server
tags:
  - name: Capabilities
    description: |-
      essential characteristics of this API
  - name: Data
    description: |-
      access to data (features)

paths:
  '/':
    get:
      tags:
        - Capabilities
      summary: landing page
      description: |-
        The landing page provides links to the API definition, the conformance
        statements and to the feature collections in this dataset.
      operationId: getLandingPage
      responses:
        '200':
          $ref: '#/components/responses/LandingPage'
        '500':
          $ref: '#/components/responses/ServerError'
  '/conformance':
    get:
      tags:
        - Capabilities
      summary: information about specifications that this API conforms to
      description: |-
        A list of all conformance classes specified in a standard that the
        server conforms to.
      operationId: getConformanceDeclaration
      responses:
        '200':
          $ref: '#/components/responses/ConformanceDeclaration'
        '500':
          $ref: '#/components/responses/ServerError'
  '/collections':
    get:
      tags:
        - Capabilities
      summary: the feature collections in the data set
      operationId: getCollections
      responses:
        '200':
          $ref: '#/components/responses/Collections'
        '500':
          $ref: '#/components/responses/ServerError'
  '/collections/pand':
    get:
      tags:
        - Capabilities
      summary: 3D building models based on the 'pand' layer of the BAG data set
      operationId: describeCollection
      responses:
        '200':
          $ref: '#/components/responses/Collection'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  '/collections/pand/items':
    get:
      tags:
        - Data
      summary: fetch pand features
      description: |-
        Fetch features of the feature collection with id `pand`.
      operationId: getFeatures
      parameters:
        - $ref: parameters/limit.yaml
        - $ref: parameters/bbox.yaml
        - $ref: parameters/bbox-crs.yaml
      responses:
        '200':
          $ref: '#/components/responses/Features'
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  '/collections/pand/items/{featureId}':
    get:
      tags:
        - Data
      summary: fetch a single 3D BAG feature
      description: |-
        Fetches a 3D BAG object/feature in CityJSONFeatures format.
        The feature includes all Levels of Detail.
        Filtering on LoD is just proposed, not implemented yet.
      parameters:
        - name: LoD
          in: query
          required: false
          description: Level of Detail
          schema:
            type: string
            enum:
              - '1.2'
              - '1.3'
              - '2.2'
      responses:
        '200':
          $ref: '#/components/responses/Feature'
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  '/collections/pand/items/{featureId}/addresses':
    get:
      tags:
        - Data
      summary: fetch the addresses of `featureId`
      description: |-
        Fetch the addresses that are located within the building `featureId`.
      operationId: getFeatureAddresses
      parameters:
        - $ref: parameters/featureId.yaml
      responses:
        '200':
          $ref: '#/components/responses/FeatureAddresses'
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  '/collections/pand/items/{featureId}/surfaces':
    get:
      tags:
        - Data
      summary: fetch a single feature
      description: |-
        Fetch information about the surfaces of `featureId`.
      operationId: getFeatureSurfaces
      parameters:
        - $ref: parameters/featureId.yaml
      responses:
        '200':
          $ref: '#/components/responses/FeatureSurfaces'
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'

components:
  responses:
    LandingPage:
      description: |-
        The landing page provides links to the API definition 
        (link relations `service-desc` and `service-doc`), 
        the Conformance declaration (path `/conformance`, 
        link relation `conformance`), and the Feature 
        Collections (path `/collections`, link relation 
        `data`).
      content:
        application/json:
          schema:
            $ref: schemas/landingPage.yaml
          example:
            title: 3D BAG plus
            description: TODO data set description.
            links:
              - href: https://data.3dbag.nl/api/3dbagplus
                rel: self
                type: application/json
                title: this document
              - href: https://data.3dbag.nl/api/3dbagplus/api
                rel: service-desc
                type: application/vnd.oai.openapi+json;version=3.0
                title: the API definition
              - href: https://data.3dbag.nl/api/3dbagplus/api.html
                rel: service-doc
                type: text/html
                title: the API documentation
              - href: https://data.3dbag.nl/api/3dbagplus/conformance
                rel: conformance
                type: application/json
                title: OGC API conformance classes implemented by this server
              - href: https://data.3dbag.nl/api/3dbagplus/collections
                rel: data
                type: application/json
                title: Information about the feature collections
    ServerError:
      description: |-
        A server error occurred.
      content:
        application/json:
          schema:
            $ref: schemas/exception.yaml
    NotFound:
      description: |-
        The requested URI was not found.
    InvalidParameter:
      description: |-
        A query parameter has an invalid value.
      content:
        application/json:
          schema:
            $ref: schemas/exception.yaml
    ConformanceDeclaration:
      description: |-
        The URIs of all conformance classes supported by the server.
      content:
        application/json:
          schema:
            $ref: schemas/confClasses.yaml
          example:
            conformsTo:
              - 'http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core'
              - 'http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30'
              - 'https://www.cityjson.org/specs/1.1.1'
    Collections:
      description: |-
        The feature collections shared by this API.
  
        The dataset is organized as one or more feature collections. This resource
        provides information about and access to the collections.
      content:
        application/json:
          schema:
            $ref: schemas/collections.yaml
          example:
            links:
              - href: https://data.3dbag.nl/api/3dbagplus/collections.json
                rel: self
                type: application/json
                title: this document
              # TODO: according to the specs, providing 'alternate' links is required (eg. text/html). But I don't want to support html from the beginning, because it is more work. But I'm not sure if the schema is still valid like this.
              - href: https://data.3dbag.nl/postgres/3dbag_v210908_fd2cee53.zip #TODO: bulk download link
                rel: enclosure
                type: application/...
                title: Bulk download (PostgreSQL dump)
                length: ...
            collections:
              - id: pand
                title: 3D pand # TODO: give title
                description: the 3d bag pand layer # TODO: describe
                extent:
                  spatial:
                    bbox:
                      - - 10000
                        - 306250
                        - 287760
                        - 623690
                    crs: https://www.opengis.net/def/crs/EPSG/0/7415
                  temporal:
                    interval:
                      - null
                      - '2019-12-31T24:59:59Z' # TODO: '2019' is the max bouwjaar in the BAG. I just added the rest, because a timestamp is required. Not sure if we should reference the BAG dates or the AHN dates.
                itemType: feature
                crs:
                  - https://www.opengis.net/def/crs/EPSG/0/7415
                links:
                  - href: https://data.3dbag.nl/api/3dbagplus/collections/pand
                    rel: items
                    type: application/city+json
                    title: Pand
                  # TODO: add license
                  - href: https://creativecommons.org/licenses/by/4.0/
                    rel: license
                    type: text/html
                    title: CC BY 4.0
                  - href: https://creativecommons.org/licenses/by/4.0/rdf
                    rel: license
                    type: application/rdf+xml
                    title: CC BY 4.0
              - id: boom
                title: Trees
                description: Just some placeholder example to show how we could extend the API if new feature collections come in the future.
                links:
                  - href: https://data.3dbag.nl/api/3dbagplus/collections/boom
                    rel: items
                    type: application/city+json
                    title: Boom
    Collection:
      description: |-
        Information about the feature collection with id `collectionId`.
      content:
        application/json:
          schema:
            $ref: schemas/collection.yaml
          example:
            id: pand
            title: 3D pand # TODO: give title
            description: the 3d bag pand layer # TODO: describe
            extent:
              spatial:
                bbox:
                  - - 10000
                    - 306250
                    - 287760
                    - 623690
                crs: https://www.opengis.net/def/crs/EPSG/0/7415
              temporal:
                interval:
                  - null
                  - '2019-12-31T24:59:59Z' # TODO: '2019' is the max bouwjaar in the BAG. I just added the rest, because a timestamp is required. Not sure if we should reference the BAG dates or the AHN dates.
            itemType: feature
            crs:
              - https://www.opengis.net/def/crs/EPSG/0/7415
            links:
              - href: https://data.3dbag.nl/api/3dbagplus/collections/pand
                rel: items
                type: application/city+json
                title: Pand
              # TODO: add license
              - href: https://creativecommons.org/licenses/by/4.0/
                rel: license
                type: text/html
                title: CC BY 4.0
              - href: https://creativecommons.org/licenses/by/4.0/rdf
                rel: license
                type: application/rdf+xml
                title: CC BY 4.0
    Features:
      description: |-
        The response is a document consisting of features in the collection.
        The features included in the response are determined by the server
        based on the query parameters of the request. To support access to
        larger collections without overloading the client, the API supports
        paged access with links to the next page, if more features are selected
        that the page size.
        
        The `bbox` parameter can be used to select only a
        subset of the features in the collection (the features that are in the
        bounding box). The `bbox` parameter matches all features
        in the collection that are not associated with a location, too.

        The `limit` parameter may be used to control the subset of the
        selected features that should be returned in the response, the page size.
        Each page includes information about the number of selected and
        returned features (`numberMatched` and `numberReturned`) as well as
        links to support paging (link relation `next`).
      content:
        application/json:
          schema:
            $ref: schemas/featureCollection.yaml # TODO featureCollection schema
    Feature:
      description: |-
        Fetch a single feature with id `featureId` in *CityJSONFeature* format.
        
        Feature hierarchy is represented by by the link relations `child` and `parent`.
      content:
        application/city+json:
          schema:
            $ref: schemas/featureCityJSON.yaml
    FeatureSurfaces:
      description: |-
        Fetch information about the surfaces of the feature with id `featureId`.
      content:
        application/json:
          schema:
            $ref: schemas/featureJSONSurfaces.yaml
    FeatureAddresses:
      description: |-
        Fetch the addresses related to the feature with id `featureId`.
      content:
        application/json:
          schema:
            $ref: schemas/featureJSONAddressCollection.yaml